*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.logo{
    height: 50px;
    display: flex;
}

.location p{
    font-size: 12px;
    color: #cccccc;
    margin: 0 0 0 20px;
}

.location-update{
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

.search-bar{
    display: flex;
    height: 40px;
    width: 750px;
}
.search-bar select{
    width: 50px;
    border: none;
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 4px 0px 0px 4px;
}
.search-bar input{
    width: 100%;        /* 100% used coz to cover all remainig space */
    font-size: 1rem;
    border: none;
}
.search-bar button{
    width: 45px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    background-color: rgba(248, 195, 62, 0.834);
}

.choose-language{
    display: flex;
    align-items: center;
    gap: 0px;   /* controls distance */
}
.choose-language select,
.choose-language i{
    background: transparent;
    color: aliceblue;
    border: none;
    font-weight: 700;
}
