*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    box-sizing: border-box;
}
.body{
    background-color: #e3e6e6;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.border:hover{
    border: 1px solid #cccccc;
}

.logo{
    height: 50px;
    display: flex;
}

.location p{
    font-size: 12px;
    color: #cccccc;
    margin: 0 0 0 20px;
}

.location-update{
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

.search-bar{
    display: flex;
    height: 40px;
    width: 750px;
}
.search-bar select{
    width: 50px;
    border: none;
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 4px 0px 0px 4px;
}
.search-bar input{
    width: 100%;        /* 100% used coz to cover all remainig space */
    font-size: 1rem;
    border: none;
}
.search-bar button{
    width: 45px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    background-color: rgba(248, 195, 62, 0.834);
}

.choose-language{
    display: flex;
    align-items: center;
    gap: 0px;   /* controls distance */
}
.choose-language select,
.choose-language i{
    background: transparent;
    color: aliceblue;
    border: none;
    font-weight: 700;
}

.return,
.sign-in{
    display: flex;
    flex-direction: column;
}

.nav-first-return,
.nav-first{
    font-size: 12px;
}
.nav-second-return,
.nav-second{
    font-size: 14px;
    font-weight: 700;
}

.cart{
    display: flex;
    align-items: flex-end;
}
.cart i{
    font-size: 50px;
}
.cart span{
    font-size: 14px;
    font-weight: 700;
    margin-left: 3px;
}

.panel{
    width: 100%;
    display: flex;
    gap: 3px;
    background-color: #0f1111ea;
}
.panel a{
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid transparent;
}
.panel a:hover{
    border: 1px solid white;
}

.hero{
    height: 600px;
    background-image:
        linear-gradient(to bottom,
        rgba(255,255,255,0) 70%,
        rgba(234,237,237,1) 100%),
        url("amazon images/hero-section.jpg");

    background-size: cover;
    background-position: center;
    border: none;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: -250px;
}
.box{
    width: 23%;
    height: 420px;
    background-color: #e3e6e6;
    padding: 20px;
    margin: 0 0 20px 0;
}
.box-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.items img{
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.back-to-top{
    height: 50px;
    background-color: #37345a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-to-top a{
    text-decoration: none;
    color: #cccccc;
}

.about-us{
    display: flex;
    justify-content: space-evenly;
    background-color: #222339;
}

.about-us a{
    text-decoration: none;
    color: white;
}
.about-us a:first-child{
    font-size: 25px;
    margin-bottom: 20px;
}

.box2{
    width: 25%;
     display: flex;
    flex-direction: column;
    gap: 8px;

    margin: 30px 25px 40px 25px;
}

.footer-links{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    gap: 3px;
}
.copy-right{
    display: flex;
    justify-content: center;
    flex-direction: column;

   height: 75px;
   background-color: #1a1b2c;
   color: white;
   font-size: 12px;
}
.copy-right p{
    text-align: center;
}

.about-us a:hover,
.footer-links a:hover{
    text-decoration: underline;
}