*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
div{
    #logo{
        font-size: 25px;
        color: yellow;
    }
    height: 60px;
    background-color: black;
    color: white;
    
    padding-top: 30px;
    button{
        background-color: rgb(139, 139, 79);
    }

    a {
        margin-right: 200px;
    }
}
